---
  intra42:
    CLIENT: ""
    SECRET: ""
    CALLBACK_URL: ""
    URI: "https://api.intra.42.fr/v2/oauth/token"
    ENDPOINT: "https://api.intra.42.fr/v2"
    SCOPES: ""
  backend:
    BACKEND_URL: "http://localhost"
    BACKEND_PORT: 8001
  bot:
    DISCORD_SERVER_ID: 
    DISCORD_BOT_TOKEN: 
    DISCORD_EVAL_CHANNEL: 
    DISCORD_EXAM_CHANNEL: 
    DISCORD_LINKINTRA_CHANNEL: 
    DISCORD_SLOTS_CHANNEL: 
    DISCORD_ME_CHANNEL: 